{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container">
    <div class="wrapper">
        <h3 class="login-text">Forgotten your password?</h3>
        <p>Enter your e-mail address to obtain a new password.</p>
        <div class="formcontainer">
    
    
            <form action="." method="POST">
                {{ form.as_p }}
                <!-- <p><input type="submit" value="Send e-mail"></p> -->
                <button type="submit" class="login-btn"><strong>Send e-mail</strong></button>
                {% csrf_token %}
            </form>
        </div>
    </div>

</div>
{% endblock %}