{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="container">
    <div class="wrapper">
        <h3 class="login-text">Reset your password</h3>
        {% if validlink %}
        <p>Please enter your new password twice:</p>
        <div class="formcontainer">

            <form action="." method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <!-- <p><input type="submit" value="Change my password"></p> -->
                <button type="submit" class="login-btn"><strong>Change my password</strong></button>
            </form>
        </div>
        {% else %}
            <p>
                The password reset link was invalid, possibly because it has already
                been used. Please request a new password reset.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}